.galleryImg {
  height: 341px;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  position: relative;
  filter: grayscale(1);
  z-index: 1;
  flex: 1;
  min-width: 20rem;
  margin: 0.2rem;
  transition: all 0.5s ease;
  color: white;

  .text {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    text-transform: uppercase;
    transition: all 0.5s ease;

    .name {
      font-size: 21px;
      font-weight: 500;
      padding-bottom: 8px;
      letter-spacing: 1px;
      transition: all 0.5s ease;
    }
    .amount {
      font-size: 18px;
      letter-spacing: 1px;
      padding-bottom: 16px;
      transition: all 0.5s ease;
    }
    .desc {
      font-size: 13px;
      font-weight: 500;
      display: none;
      transition: all 0.5s ease;
    }
  }
}
.galleryImg:hover {
  filter: grayscale(0);

  .desc {
    display: block;
  }
}
