.letsStart {
  background: url("/bg.jpg");
  display: flex;
  align-items: center;
  padding: 86px 0 87px;
  flex-flow: row wrap;
  margin: 5rem 0;

  .text {
    margin: 1rem;
    width: 20rem;
  }
  .buttons {
      display: flex;
  }
}
.textBorder {
  margin: 2rem !important;
}
